.classOptions {
  width: 100%;
  justify-content: center;
  height: 50rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center!important;
  width: 30rem;
  max-width: 400px;
}

.linkToDownload {
  width: 100%;
  max-width: 400px;
}

.classOptions a {
  color: black;
  width: 100%;
  max-width: 400px;
}

.classOptions button {
  color: black;
  background-color: rgba(178, 228, 183, 0);
  width: 100%;
  max-width: 400px;
  border: none;
}

.conteiner {
  width: 100%;
  display: flex;
}

.centerOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 500px;

}

.classOptions li {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  background-color: rgba(178, 228, 183, 0.6);
  border: 1px solid rgba(178, 228, 183, 0.8);
  list-style: none;
}