.sideBar {
  margin-left: 10rem;
  background-color: rgba(5, 130, 68, 1);
  height: 40rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.changePadding {
  margin: 0.5rem;
}

.sideBar ul {
  width: 10rem;
}

li {
  color: white;
}